body{
	margin : 100px;
}
.field{
width: 500px;
height: 500px;
background:black;
margin:0 auto;
display:flex;
flex-wrap: wrap;
}
.element{
	height: 40px;
	width: 40px;
	padding:5px;
}
.snakeBody{
	background: green;
	-webkit-background-size:cover;
	background-size:cover;
}
.snakeHead{
	background: green;
	-webkit-background-size:cover;
	background-size:cover;
}
.apple{
	background: red;
	-webkit-background-size:cover;
	background-size:cover;
}
