body, html {
    margin:0;
    padding:0;
}
.field {
width : 1000px;
height : 1000px;
background : black;
display : flex;
justify-content: center;
align-items: center;
}
.live_field {
width : 900px;
height : 900px;
background: white;
display : flex;
flex-wrap : wrap;

}
.block {
width: 180px ;
height: 50px ;
border-radius: 5px;
background:green;
margin-top:5px;
}
.round{
    width: 30px;
    height: 30px;
    border-radius: 10px;
    background: red;

}